@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');

body #financial_calculator { font-family: 'Open Sans' , sans-serif; margin: 0; padding: 0;}
table { border-spacing: 0; border-collapse: collapse; }
table td, table th { padding: 1px 3px; }
a img { border: none; }
p, h1, h2, h3 { margin: 0 0 1em 0; padding: 0; }
fieldset { border: none; margin: 0; padding: 0; }
legend { margin: 0; padding: 0 0 .5em 0; }
div.rule { color: #fff; padding: 0; margin: 20px 0; border-bottom: 1px solid #ddd; font-size: 1px; line-height: 0; clear: both; }
#financial_calculator H1 { font-family: 'Open Sans Condensed' , sans-serif; color: #4989bb; margin: 0 0 16px 0; }
#financial_calculator H2 { font-family: 'Open Sans Condensed' , sans-serif; color: #777; margin: 0 0 16px 0; background: none; padding: 0; font-weight: bold; }
#financial_calculator H3 { font-family: 'Open Sans Condensed' , sans-serif; color: #4989bb; margin: 0 0 16px 0; }
#financial_calculator ul { margin: 0 0 0 1em; padding: 0 0 1em 2em; list-style-type: disc; }
#financial_calculator .question { margin: 10px 0 40px 5px; }
#financial_calculator .question DIV { margin: 8px 0; }
#financial_calculator .question LABEL { margin: 8px 0; display: block; font-weight: bold; color: #555;}
#financial_calculator .question INPUT { margin-left: 10px; width: 65px; background: #fff; color: #000; border: 1px solid #666;}
#financial_calculator .question LEGEND { display: inline-block; }
#financial_calculator .radio .question_text { font-weight: bold; color: #555; }
#financial_calculator .radio LABEL { display: inline-block; cursor: pointer; font-weight: normal; color: #000; width: 90%; float: left; }
#financial_calculator .radio LABEL:hover { text-decoration: underline; }
#financial_calculator .radio INPUT { cursor: pointer; margin: 8px 1%; width: 5%; float: left; height: 18px; }
#financial_calculator .radio ul, #financial_calculator .radio li { list-style-type: none; margin: 0; padding: 0; clear: both; }
#financial_calculator .results table { border-top: 1px solid #eee; margin: 20px 0; }
#financial_calculator .results td { border-bottom: 1px solid #eee; padding-top: .5em; padding-bottom: .5em; color: #000;}
#financial_calculator .results td.currency { text-align: right; padding-right: 1em; padding-left: 3em; }
#financial_calculator .results td.percentage { text-align: right; padding-right: 1em; padding-left: 3em; }
#financial_calculator .results td.years { text-align: right; padding-right: 1em; padding-left: 3em; }
#financial_calculator .results td.name { text-align: right; padding-right: 1em; padding-left: 3em; }
#financial_calculator .results td.answer { text-align: right; padding-right: 1em; padding-left: 3em; }
#financial_calculator .results td span { padding-left: 1px; padding-right: 1px; color: #000}
#financial_calculator .disclaimer, #financial_calculator .copyright { color: #666; font-size: 90%; }
#financial_calculator .copyright { margin-top: 2em; }
#financial_calculator .addthis_button_print { display: none; }
#content #financial_calculator fieldset {border: 0;}
#financial_calculator button[disabled] {opacity: .5;}

#financial_calculator .eme_bd_footerHeader { color: #000; }
#financial_calculator ul.eme_bd_footerlist, #financial_calculator ul.center_aligned_link_list { display: block; list-style-type: none; margin: 0 0 1em 0; padding: 0; }
#financial_calculator ul.eme_bd_footerlist li, #financial_calculator ul.center_aligned_link_list li { display: inline-block; margin: 0 .3em 0 0; padding: 0; }
#financial_calculator ul.eme_bd_footerlist li { padding: .2em .5em; border: 1px solid #000; font-weight: bold; }

@media screen {
  #printed_from, #contact_info { display: none; }
  #breadcrumb_navigation { margin: -1.5em 0 1em 0; cursor: default; color: #888; }
  #breadcrumb_navigation a { text-decoration: none; color: #333; }
  #breadcrumb_navigation a:hover, #breadcrumb_navigation a:focus { text-decoration: underline; color: #000; }
  #financial_calculator H1 { font-size: 30px; }
  #financial_calculator H2 { font-size: 18px; }
  #financial_calculator H3 { font-size: 16px; }
  #financial_calculator P { max-width: 500px; line-height: 20px; color: #000}
  #financial_calculator .question LABEL { max-width: 500px; }
  #financial_calculator .results table { width: 450px; }
  #calculator_form { max-width: 520px; padding: 0 1em 1em 0; }
  #fixed_height_box { min-height: 310px; margin-bottom: 20px; position: relative; overflow: hidden; }
  #financial_calculator { position: relative; max-width: 1020px; font-size: 13px; color: #000; background: #fff 100% 0% no-repeat; }
  #transition_mask { max-width: 100%; border-radius: 6px; }
  #calc_content { padding: 30px 0 20px 20px; max-width: 535px; background-color: #fff; background-color: rgba(255,255,255,0.5); }
  #financial_calculator .slider { width: 400px; height: 8px; display: block; float: left; margin-right: 20px; top: 6px; border: 1px solid #A6C9E2; border-radius: 4px; background-color: #fff; position: relative; }
  #financial_calculator .level { height: 8px; display: block; position: absolute; left: -1px; top: -1px; border: 1px solid #A6C9E2; background-color: #8DB9DB; border-radius: 4px; z-index: 10; }
  #financial_calculator .knob { width: 10px; height: 16px; display: block; position: absolute; top: -5px; margin-left: -5px; border: 1px solid #79B7E7; background-color: #E0EFFC; border-radius: 4px; z-index: 20; cursor: pointer; }
  #financial_calculator .slider, #financial_calculator .level, #financial_calculator .segment, #financial_calculator .knob { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
  #financial_calculator .segments { color: #aaa; position: absolute; top: 12px; left: 0; width: 100%; }
  #financial_calculator .segments .segment { cursor: pointer; padding-top: 4px; position: relative; text-align: center; display: block; float: left; background: url('images/calculator/segment.png') 50% 0% no-repeat; }
  #financial_calculator .segments .segment:hover { color: #369; text-decoration: underline; }
  #financial_calculator .params { display: none; }
  #calculator_buttons { max-width: 500px; }
  #calculator_buttons button { min-width: 100px; margin-right: 20px; }
  #action_buttons { margin-top: 1em; padding-top: 1em; border-top: 1px solid #eee; max-width: 500px; }
  #action_buttons button { text-shadow: 1px 1px #369; min-width: 125px; margin-right: 20px; border: 1px solid #369; border-radius: 3px; color: #fff; padding: .15em 0; background: rgb(132,177,214); background: -moz-linear-gradient(top,  rgba(132,177,214,1) 0%, rgba(112,166,211,1) 50%, rgba(91,145,186,1) 51%, rgba(29,118,186,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,177,214,1)), color-stop(50%,rgba(112,166,211,1)), color-stop(51%,rgba(91,145,186,1)), color-stop(100%,rgba(29,118,186,1))); background: -webkit-linear-gradient(top,  rgba(132,177,214,1) 0%,rgba(112,166,211,1) 50%,rgba(91,145,186,1) 51%,rgba(29,118,186,1) 100%); background: -o-linear-gradient(top,  rgba(132,177,214,1) 0%,rgba(112,166,211,1) 50%,rgba(91,145,186,1) 51%,rgba(29,118,186,1) 100%); background: -ms-linear-gradient(top,  rgba(132,177,214,1) 0%,rgba(112,166,211,1) 50%,rgba(91,145,186,1) 51%,rgba(29,118,186,1) 100%); background: linear-gradient(to bottom,  rgba(132,177,214,1) 0%,rgba(112,166,211,1) 50%,rgba(91,145,186,1) 51%,rgba(29,118,186,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84b1d6', endColorstr='#1d76ba',GradientType=0 ); }
  #action_buttons button:hover { border: 1px solid #26a; background: rgb(91,181,255); background: -moz-linear-gradient(top,  rgba(91,181,255,1) 0%, rgba(69,171,255,1) 50%, rgba(23,154,255,1) 51%, rgba(0,122,216,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(91,181,255,1)), color-stop(50%,rgba(69,171,255,1)), color-stop(51%,rgba(23,154,255,1)), color-stop(100%,rgba(0,122,216,1))); background: -webkit-linear-gradient(top,  rgba(91,181,255,1) 0%,rgba(69,171,255,1) 50%,rgba(23,154,255,1) 51%,rgba(0,122,216,1) 100%); background: -o-linear-gradient(top,  rgba(91,181,255,1) 0%,rgba(69,171,255,1) 50%,rgba(23,154,255,1) 51%,rgba(0,122,216,1) 100%); background: -ms-linear-gradient(top,  rgba(91,181,255,1) 0%,rgba(69,171,255,1) 50%,rgba(23,154,255,1) 51%,rgba(0,122,216,1) 100%); background: linear-gradient(to bottom,  rgba(91,181,255,1) 0%,rgba(69,171,255,1) 50%,rgba(23,154,255,1) 51%,rgba(0,122,216,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb5ff', endColorstr='#007ad8',GradientType=0 ); }
  #calculator_buttons .calculate { margin-left: 40px; }
  #financial_calculator .pg { float: left; position: absolute; display: none; }
  .pg_1 #financial_calculator #pg_1, .pg_2 #financial_calculator #pg_2, .pg_3 #financial_calculator #pg_3, .pg_4 #financial_calculator #pg_4, .pg_5 #financial_calculator #pg_5, .pg_6 #financial_calculator #pg_6, .pg_7 #financial_calculator #pg_7, .pg_8 #financial_calculator #pg_8, .pg_9 #financial_calculator #pg_9, .pg_10 #financial_calculator #pg_10, .pg_11 #financial_calculator #pg_11, .pg_12 #financial_calculator #pg_12, .pg_13 #financial_calculator #pg_13, .pg_14 #financial_calculator #pg_14, .pg_15 #financial_calculator #pg_15, .pg_16 #financial_calculator #pg_16, .pg_17 #financial_calculator #pg_17, .pg_18 #financial_calculator #pg_18, .pg_19 #financial_calculator #pg_19, .pg_20 #financial_calculator #pg_20 { display: block; height: auto; }
  #chart_div, .chart_div { background-color: rgba(204,204,204,.80); width: 500px; border-radius: 10px; margin: .5em 0 1em 0; }
  #chart_div IFRAME { border: 1px solid #ddd; }
  #financial_calculator #footer { margin-top: 40px; }
  #share_container { max-width: 500px; }
  #share { border-radius: 3px; float: right; padding: .5em .5em .25em .5em; margin: .5em 0 .5em .5em; }
  #share a { opacity: 0.7; display: inline-block; margin: 0 3px 0 0; text-decoration: none; }
  #share a:hover { text-decoration: none; opacity: 1; }
  #share .sep { color: #ddd; display: inline-block; margin: 0 3px 0 0; position: relative; top: -4px; }
}

@media only screen and (max-width: 3000px) {
  #financial_calculator { margin: 15px; border: 1px solid #ddd; border-radius: 6px; }
  #calc_content { padding: 0; }
  #transition_mask { padding: 30px 40px; }
}

@media only screen and (max-width: 1035px) {
  #financial_calculator { margin: 0; border: none; border-radius: 0; }
  #financial_calculator { background-position: 100% 0%; }
}

@media only screen and (max-width: 1015px) {
  #financial_calculator { background-position: 0% 0%; }
}

@media only screen and (max-width: 800px), only screen and (max-width : 760px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body { background-color: #fff; }
  #financial_calculator { width: 100%; max-width: 100%; filter: none; background-image: none !important; background-color: #fff !important; width: 550px; margin: 0 auto; zoom: auto; }
  #breadcrumb_navigation { margin-top: 0; }
  #transition_mask { padding: 1em; border-radius: 0; }
  #calculator_buttons { text-align: center; }
  #action_buttons { text-align: center; }
  #calculator_buttons button, #calculator_buttons .calculate { min-width: 25%; margin: 0 1.5% 15px; }
  #action_buttons button { width: 30%; margin: 0 2% 0 3%; }
}

@media only screen and (max-width: 570px) {
  #financial_calculator { margin: 0; filter: none; background-image: none !important; background-color: #fff !important; margin: 0 auto; zoom: auto; }
  #transition_mask { max-width: 100%; }
  #calculator_form { padding: 0 0 1em 0; max-width: 100%; }
  #financial_calculator .slider { width: 100%; max-width: 99%; }
  #share { float: none; text-align: left; margin: 1em 0 1.5em 0; padding: 0; background: transparent none; }
  #financial_calculator .question { max-width: 97%; }
  #financial_calculator .question input { margin: 50px 0 0 0; width: 100px; }
  #financial_calculator .radio input { margin: 8px 1% 8px 0; width: 5%; }
  #financial_calculator .radio label { width: 85%; max-width: 100%; }
  #financial_calculator { background: transparent none !important; filter: none; background-image: none !important; background-color: #fff !important; margin: 0 auto; zoom: auto; }
  #financial_calculator P { max-width: 100%; }
  #financial_calculator .results table { width: 100%; }
  #financial_calculator { max-width: 100%; }
  #financial_calculator .segments { width: 100%; }
  #calculator_buttons { max-width: 100%; }
  #action_buttons { max-width: 100%; }
  #financial_calculator .pg { width: 100%; }
  #chart_div, .chart_div { width: 100%; }
  #share_container { max-width: 100%; }
  #financial_calculator ul.eme_bd_footerlist li { font-size: 75%; }
}

@media print {
  #printed_from { float: right; margin-bottom: 1em; }
  #contact_info { display: none; }
  #contact_info ul { list-style-type: none; padding: 0; margin: 0; }
  #contact_info li { padding: 0; margin: 0 0 .25em 0; }
  #breadcrumb_navigation { display: none; }
  body { background: transparent none !important; font-size: 11px; }
  #financial_calculator { clear: both; padding-top: 1em; margin-top: 1em; border-top: 1px solid #ccc; }
  #financial_calculator H1 { font-size: 24px; }
  #financial_calculator H2 { font-size: 16px; }
  #financial_calculator H3 { font-size: 14px; }
  body *:not(rect):not(svg) { width: auto !important; height: auto !important; position: static !important; background: transparent none !important; }
  #financial_calculator .pg { float: none !important; position: static !important; width: auto !important; }
  .pg { padding-top: 1em; margin-top: 1em; border-top: 1px solid #eee; }
  .slider { display: none; }
  #share_container { display: none; }
  .question input { border: none; }
  #calculator_buttons { display: none; }
  #action_buttons { display: none; }
  a { color: #000; }
  #contact_info a { color: #000; text-decoration: none; }
  .privacyPolicy, .privacy_policy, .privacypolicy, .privacy { display: none; }
}

@media screen {
  /* IE fix for rgba() alternative */
  .alpha0, .alpha1, .alpha2, .alpha3, .alpha4, .alpha5, .alpha6, .alpha7, .alpha8, .alpha9, .alpha10 { background: none; zoom: 1; }
  .alpha0 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF',endColorstr='#00FFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFFFF',endColorstr='#00FFFFFF'); }
  .alpha1 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19FFFFFF',endColorstr='#19FFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19FFFFFF',endColorstr='#19FFFFFF'); }
  .alpha2 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF',endColorstr='#33FFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33FFFFFF',endColorstr='#33FFFFFF'); }
  .alpha3 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CFFFFFF',endColorstr='#4CFFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CFFFFFF',endColorstr='#4CFFFFFF'); }
  .alpha4 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66FFFFFF',endColorstr='#66FFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66FFFFFF',endColorstr='#66FFFFFF'); }
  .alpha5 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FFFFFFF',endColorstr='#7FFFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FFFFFFF',endColorstr='#7FFFFFFF'); }
  .alpha6 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99FFFFFF',endColorstr='#99FFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99FFFFFF',endColorstr='#99FFFFFF'); }
  .alpha7 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2FFFFFF',endColorstr='#B2FFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2FFFFFF',endColorstr='#B2FFFFFF'); }
  .alpha8 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF',endColorstr='#CCFFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFFFFFF',endColorstr='#CCFFFFFF'); }
  .alpha9 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5FFFFFF',endColorstr='#E5FFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5FFFFFF',endColorstr='#E5FFFFFF'); }
  .alpha10 { -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFFFFFFF'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFFFFFFF'); }
}
